<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
		<script src="/socket.io/socket.io.js" defer></script>
		<script src="/script.js" defer></script>
		<script src="/game.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script>
			const ROOM_ID = '<%= roomId %>';
			console.log(ROOM_ID);
		</script>
		<title>room</title>
		<style>
			/*비디오 부분*/
			#video-grid {
				display: grid;
				grid-template-columns: repeat(auto-fill, 300px);
				grid-auto-rows: 300px;
			}

			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			/*팝업 부분*/
			.modal_wrap {
				display: none;
				width: 500px;
				height: 500px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -250px 0 0 -250px;
				background: #eee;
				z-index: 2;
			}

			.black_bg {
				display: none;
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				top: 0;
				left: 0;
				z-index: 1;
			}

			.modal_close {
				width: 26px;
				height: 26px;
				position: absolute;
				top: -30px;
				right: 0;
			}

			.modal_close > a {
				display: block;
				width: 100%;
				height: 100%;
				background: url(https://img.icons8.com/metro/26/000000/close-window.png);
				text-indent: -9999px;
			}

			/*버튼들 위치*/
			.power,
			#click {
				position: relative;
				top: -300px;
			}
		</style>
	</head>

	<body>
		<!--동영상-->
		<div id="video-grid"></div>
		<!--vue로 바인딩-->
		<div id="app">
			<!--방설정 팝업-->
			<div id="room_bg" class="black_bg"></div>
			<div id="room_wrap" class="modal_wrap">
				<div id="room_close" class="modal_close"><a href="#">close</a></div>
				<div>
					<form action="javascript:" onsubmit="vm.setRoom(this)">
						이름<input id="title" type="text" /> <br />
						비밀번호<input id="pw" type="current-password" /><br />
						방 인원<input id="limit" type="number" /><br />
						<button type="reset">취소</button>
						<button type="submit">적용</button><br />
					</form>
				</div>
			</div>
			<!--게임 팝업-->
			<div id="game_bg" class="black_bg"></div>
			<div id="game_wrap" class="modal_wrap">
				<div id="game_close" class="modal_close"><a href="#">close</a></div>
				<div>
					<button id="game1">게임 1</button>
					<button id="game2">게임 2</button>
				</div>
			</div>
			<!--채팅 팝업-->
			<div id="chat_bg" class="black_bg"></div>
			<div id="chat_wrap" class="modal_wrap">
				<div id="chat_close" class="modal_close"><a href="#">close</a></div>
				<textarea name="chat" id="chat" cols="65" rows="30" disabled></textarea>
				<div>
					<input type="text" v-model="chatting" />
					<button id="send">Send</button>
				</div>
			</div>
			<!--버튼들-->
			<button
				type="button"
				id="room_btn"
				class="btn btn-outline-dark"
				v-show="power"
			>
				Setting
			</button>
			<button id="video_btn">Video</button>
			<button id="audio_btn">Audio</button>
			<button id="chat_btn">Chat</button>
			<button type="button" id="game_btn" class="btn btn-outline-dark">
				Game
			</button>
			<button id="screen_btn">Screen</button>
			<!--나가기-->
			<button id="exit_btn">Exit</button>
			<div><input type="number" v-model="time" /></div>
			<div id="timer"></div>
			<button id="countup_btn">Count up</button>
			<button id="countdown_btn">Count down</button>
			<button id="countreset_btn">Count reset</button>
		</div>
	</body>
</html>
